altgraph==0.17.3
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cloudflare==2.11.6
cryptography==40.0.2
idna==3.4
importlib-metadata==6.6.0
jaraco.classes==3.2.3
jeepney==0.8.0
jsonlines==3.1.0
keyring==23.13.1
more-itertools==9.1.0
pycparser==2.21
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQt5-stubs==5.15.6.0
PyYAML==6.0
requests==2.31.0
SecretStorage==3.3.3
soupsieve==2.4.1
urllib3==2.0.2
zipp==3.15.0
